html, body { width: 100%; height: 100%; height: 100vh; height: 100dvh; box-sizing: border-box }
body { background-color: black; overflow: hidden; }
* { margin: 0; padding: 0 }
#horse {
  display: block;
  width: 1em;
  height: 1em;
  background-image: url(horses.webp);
  background-size: 6em 4em;
  image-rendering: pixelated;
}
